# Python venv
.venv/
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Generated embeddings and data
data/embeddings/
data/vector_db/
*.npy

# Generated labels
labels.json

# Index files
*.index

mlruns/

artifacts/
artifacts_on_prem/

tests/__pycache__/

tests/integration/__pycache__/
tests/model/__pycache__/

.vscode/